<?xml version="1.0"?>

<launch>
    <!-- Use sim time -->
    <param name="use_sim_time" value="False" />
    <!-- Start the clock -->
    <node name="clock" pkg="hoplite-sim" type="sim_clock.py" output="screen">
        <param name="period" value="0.1" />
    </node>

    <!-- Launch the hoplite-soldier node -->
    <node name="soldier_0" pkg="hoplite-soldier" type="hoplite-soldier.py" output="screen">
    </node>

    <!-- Launch the hoplite-soldier node -->
    <node name="soldier_1" pkg="hoplite-soldier" type="hoplite-soldier.py" output="screen">
    </node>

    <!-- Launch the squad leader -->
    <node name="squad_leader" pkg="hoplite-squad-leader" type="hoplite-squad-leader.py" output="screen">
        <param name="soldier_count" value=2 />
    </node>

    <!-- Launch the vLIMO node -->
    <node name="vLIMO_1" pkg="hoplite-sim" type="vLIMO.py" output="screen">
        <!-- Add parameters if needed -->
        <param name="controller_node" value ="soldier_1" />
        <param name="x" value="0" />
        <param name="y" value="000" />
        <param name="theta" value="0" />
        <param name="color" value="blue" />
    </node>

    <!-- Launch RViz to visualize the markers -->
    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find hoplite-sim)/rviz/vLIMO_display.rviz" output="screen">
        <!-- Ensure you have a proper RViz configuration file -->
    </node>
</launch>